
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>6G Wireless Networks Workshop</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar-custom {
            background-color: #0056b3;
        }

        .navbar-custom a {
            color: white;
        }

        .header-logo img {
            max-height: 100px;
            margin-bottom: 20px;
        }

        .header-title {
            font-size: 1.8rem;
            font-weight: bold;
        }

        .header-subtitle {
            font-size: 1.2rem;
        }

        .header {
            padding: 20px;
            text-align: center;
        }

        .header-text {
            margin-top: 10px;
        }

        .nav-link {
            color: white;
            font-size: 1.1rem;
        }

        .nav-link:hover {
            color: #e2e6ea;
        }

        .section-title {
            font-size: 28px;
            color: #0056b3;
            margin-bottom: 10px;
        }

        .organizers-section {
            padding: 50px 0;
            background-color: #f8f9fa;

        }

        .organizers-section .section-title {
            font-size: 2.5rem;
            color: #003366;
            text-align: center;
            margin-bottom: 40px;;
        }

        .organizers-list {
            list-style-type: none;
            padding: 0;
            max-width: 1000px;
            margin: 0 auto;
        }

        .organizers-list li {
            margin-bottom: 30px;
            display: flex;
            align-items: center;
            background-color: white;
            padding: 20px;
            border-radius: 40px;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        }

        .organizers-info {
            display: flex;
            align-items: center;
            width: 100%;
        }




	.organizers-not-photo {
	    height: 200px; /* Fixed height */
	    width: auto; /* Adjust width automatically to maintain aspect ratio */
	    border-radius: 50%;
	    margin-right: 30px;
	}

 
	.organizers-photo {
	    width: 200px;   /* Fixed width */
	    height: 200px;  /* Fixed height */
	    object-fit: cover;  /* Ensures the image covers the area without stretching */
	    border-radius: 50%; /* Optional for circular images */
	    margin-right: 30px;
	}

 
        .organizers-details {
            text-align: left;
        }

        .organizers-details strong {
            font-size: 1.5rem;
            color: #0056b3;
        }

        .organizers-details p {
            font-size: 1.1rem;
            color: #666;
        }

        .organizers-details a {
            color: #0056b3;
            text-decoration: none;
        }

        .organizers-details a:hover {
            text-decoration: underline;
        }



        footer {
            text-align: center;
            padding: 20px;
            background-color: #004080;
            color: white;
        }

        html {
            scroll-behavior: smooth;
        }
    </style>
</head>
<body data-bs-spy="scroll" data-bs-target="#navbarNav" data-bs-offset="0" tabindex="0">



  <@BANNER@>

  <@NAVBAR@>
 
  <section id="organizers" class="organizers-section">
    <div class="container">
        <h3 class="section-title">Organizers</h3>

        <!-- Scientific Committee Section -->
        <h4 class="text-center text-primary mb-4">Scientific Committee</h4>
        <ul class="organizers-list">
            <!-- Scientific Committee Member 2 -->
            <li>
                <div class="organizers-info">
                    <img src="img/CedricAdjih.jpg" alt="Cédric Adjih" class="organizers-photo">
                    <div class="organizers-details">
                        <strong>Dr. Cédric Adjih</strong>
                        <p> Researcher, Inria</p>

                    </div>
                </div>
            </li>
            <li>
          <!-- Scientific Committee Member 1 -->
                <div class="organizers-info">
                    <img src="img/nadjib-achir.jpg" alt="Nadjib Achir" class="organizers-photo">
                    <div class="organizers-details">
                        <strong>Dr. Nadjib Achir</strong>
                        <p>Researcher , Inria</p>
                    </div>
                </div>
            </li>
            <!-- Scientific Committee Member 3 -->
            <li>
                <div class="organizers-info">
                    <img src="img/VinodKumar.jpg" alt="Dr. Vinod Kumar" class="organizers-photo">
                    <div class="organizers-details">
                        <strong>Dr. Vinod Kumarr </strong>
                        <p> WWRF </p>
                    </div>
                </div>
            </li>

            <!-- Scientific Committee Member 4 -->
            <li>
                <div class="organizers-info">
                    <img src="img/KuntalDeka.jpg" alt="Kuntal Duka" class="organizers-photo">
                    <div class="organizers-details">
                        <strong> Dr .Kuntal Duka</strong>
                        <p> Assistant Professor, IIT Guwahati </p>
                    </div>
                </div>
            </li>
                    <!-- Scientific Committee Member 5 -->
            <li>
                <div class="organizers-info">
                    <img src="img/SanjeevSharma.jpg" alt="Sanjeev Sharma" class="organizers-photo">
                    <div class="organizers-details">
                        <strong> Dr. Sanjeev Sharma</strong>
                        <p> Assistant Professor, IIT (BHU) Varanasi </p>
                    </div>
                </div>
            </li>
        </ul>

        <!-- Local Organizers Section -->
        <h4 class="text-center text-primary mb-5">Local Organizers</h4>
        <ul class="organizers-list">
            <!-- Local Organizer 1 -->

            <li>
                <div class="organizers-info">
                    <img src="img/Amira-Dhaouadi.jpg" alt="Amira Dhaouadi" class="organizers-photo">
                    <div class="organizers-details">
                        <strong>Amira Dhaouadi</strong>
                        <p>PhD Student, INRIA</p
                    </div>
                </div>
            </li>
             <li>
                <div class="organizers-info">
                    <img src="img/DEBBAH_MEHDI_SOFIANE.jpg" alt="Debbah Mehdi Sofiane" class="organizers-photo">
                    <div class="organizers-details">
                        <strong> Mehdi Sofiane Debbah</strong>
                        <p>Network and DevOps Engineer, INRIA</p>
                    </div>
                </div>
            </li>
            <!-- Local Organizer 2 -->
            <li>
                <div class="organizers-info">
                    <img src="img/SaeedAlsabbagh.jpg" alt="Saeed ALSABBAGH"  class="organizers-photo">
                    <div class="organizers-details">
                        <strong>Saeed ALSABBAGH</strong>
                        <p>PhD Student, UVSQ</p>
                    </div>
                </div>


        </ul>
    </div>
</section>




</section>
    </div>

<@FOOTER@>
