
<!DOCTYPE html>
<html lang="en">

<@HEAD@>
    
<body data-bs-spy="scroll" data-bs-target="#navbarNav" data-bs-offset="0" tabindex="0">
  <@BANNER@>
  
  <@NAVBAR@>

        

    <footer>
      
           <h2 class="section-title">Seminar Agenda</h2>

           <!-- Wednesday, October 9, 2024 -->
           <div class="day-section">
               <h3 class="day-title">Wednesday, October 9, 2024</h3>
               <table class="agenda-calendar">
                   <tr>
                       <th>Time</th>
                       <th>Session</th>
                   </tr>
                   <tr>
                       <td>09:00 - 09:30</td>
                       <td>Arrival, Registration, Welcome Coffee</td>
                   </tr>
                   <tr>
                       <td>09:30 - 10:50</td>
                       <td>Opening Session<br>
                           - Welcome and Opening Address (10 min)<br>
                           <!-- - <s>Address from CEFIPRA Director - Title TBD (20 min)</s><br> -->
                           - Dimitri Kt&eacute;nas (CEA):  Overview of the French Priority Research Program and Equipments for the Networks of the Future (30 min) - <a href="slides/Overview_of_the_French_Priority_Research_Program_and_Equipments_for_the_Networks_of_the_Future--Dimitri-Ktenas.pdf">slides</a><br>
                           - Vinod Kumar (WWRF): 6G Vision and Standardization in ITU (30 min)</td>
                   </tr>
                   <tr>
                       <td>10:50 - 11:20</td>
                       <td>Coffee Break</td>
                   </tr>
                   <tr>
                       <td>11:20 - 12:50</td>
                       <td>Session 1<br>
                           - Philippe Jacquet (Inria, Saclay): The Energy Differentiated Field Theorem (30 min)<br>
                           - A. Rajesh (IIT Guwahati): Error Control Codes 2G to 6G (30 min) - <a href="slides/Error_Control_Codes_2G_to_6G--A_Rajesh.pdf">slides</a><br>
                           - Siddhartha Suruj Borkotoky (IIT Bhubaneswar): Reliable Broadcast in mMTC Networks Enabled by Rateless Codes and D2D Cooperation A Case Study in Over the Air Firmware Updates in LoRaWANs (30 min)</td>
                   </tr>
                   <tr>
                       <td>12:50 - 14:30</td>
                       <td>Lunch</td>
                   </tr>
                   <tr>
                       <td>14:30 - 15:30</td>
                       <td>Session 2<br>
                           - Maxime Guillaud (Inria, Lyon): Channel Charting - Self-Supervised Learning (30 min)<br>
                           - Soumya Prakash Dash (IIT Bhubaneswar): Noncoherent Communications for Next-Generation Wireless Systems  (30 min) - <a href="slides/Noncoherent_Communications_for_Next-Generation_Wireless_Systems--Soumya_Prakash_Dash.pdf">slides</a></td>
                   </tr>
                   <tr>
                       <td>15:30 - 15:50</td>
                       <td>Coffee Break</td>
                   </tr>
                   <tr>
                       <td>15:50 - 16:50</td>
                       <td>Session 3<br>
                           - Malcolm Egan (Inria, Lyon): Non-Gaussian Interference in Large Scale Wireless Networks Experimental Results Models and Implications (30 min)<br>
                           - Amritanshu Pandey (IIT BHU):  Overview  of Quantum Dots and Applications (30 min)</td>
                   </tr>
               </table>
           </div>

           <!-- Thursday, October 10, 2024 -->
           <div class="day-section">
               <h3 class="day-title">Thursday, October 10, 2024</h3>
               <table class="agenda-calendar">
                   <tr>Interference Models or Random Access
                       <th>Time</th>
                       <th>Session</th>
                   </tr>
                   <tr>
                       <td>09:00 - 09:30</td>
                       <td>Welcome Coffee</td>
                   </tr>
                   <tr>
                       <td>09:30 - 10:30</td>
                       <td>Session 4<br>
                           - François Baccelli (Inria Paris, ENS): Stochastic Geometry  of RIS and NT Networks(1 hour)</td>
                   </tr>
                   <tr>
                       <td>10:30 - 10:50</td>
                       <td>Coffee Break</td>
                   </tr>
                   <tr>
                       <td>10:50 - 12:20</td>
                       <td>Session 5<br>
                         - Neelesh B. Mehta (IISc Bangalore): Paradigms for Estimating RIS Configuration An Achievable Rate Perspective (1 hour)<br>
			 - Marco Di Renzo (CNRS and CentraleSupélec, Paris-Saclay University): ML and Metasurfaces Stacked Intelligent Metasurfaces
		       </td>
                   </tr>
                   <tr>
                       <td>12:20 - 14:00</td>
                       <td>Lunch</td>
                   </tr>
                   <tr>
                       <td>14:00 - 15:00</td>
                       <td>Session 6<br>
                           - Sanjeev Sharma (IIT BHU): Reconfigurable Intelligent Surfaces (RIS)-based Wireless Network Design and Analysis (30 min)<br>
                           - Brijesh Kumbhani (IIT Ropar): IRS Training in Multi-User Scenario (30 min) - <a href="slides/IRS_Training_in_Multi-User_Scenario--Brijesh-Kumbhani.pdf">slides</a></td>
                   </tr>
                   <tr>
                       <td>15:00 - 15:20</td>
                       <td>Coffee Break</td>
                   </tr>
                   <tr>
                       <td>15:20 - 16:20</td>
                       <td>Session 7<br>
                           - Jean-Marie Gorce (Inria, Lyon):  On-learning CSI for 6G (30 min)<br>
                           - Kuntal Deka: Multi-user Communication Using OTFS (30 min)</td>
                   </tr>
               </table>
           </div>

           <!-- Friday, October 11, 2024 -->
           <div class="day-section">
               <h3 class="day-title">Friday, October 11, 2024</h3>
               <table class="agenda-calendar">
                   <tr>
                       <th>Time</th>
                       <th>Session</th>
                   </tr>
                   <tr>
                       <td>09:00 - 09:30</td>
                       <td>Welcome Coffee</td>
                   </tr>
                   <tr>
                       <td>09:30 - 11:00</td>
                       <td>Session 8<br>
                           - Marceau Coupechoux (TelecomParis): Reinforcement Learning for URLLC Scheduling (30 min)<br>
                           - Naresh Modina (CNAM): Autonomous Reconfiguration Intent Management (30 min)<br>
                           - Cédric Adjih (Inria, Saclay): Modern Random Access for Grant Free Cellular Networks (30 min) - <a href="slides/Modern_Random_Access_for_Grant-Free_Cellular_Networks--Cedric-Adjih.pdf">slides</a></td>
                   </tr>
                   <tr>
                       <td>11:00 - 11:20</td>
                       <td>Coffee Break</td>
                   </tr>
                   <tr>
                       <td>11:20 - 13:00</td>
                       <td>Session 9<br>
                           - Manoj B. R.: Integrated Sensing and Communication  Fundamentals and  Recent Advances(30 min)<br>
                           - Amira Alloum (Qualcomm): XR Evolution to the Metaverse (30 min)<br>
                           - Sarada Prasad Gochhayat (IIT Jammu): Identification of mmWave band fixed broadband wireless transmission configuration with machine learning (30 min)<br>
                           - Workshop Conclusion and Final Address (10 min)</td>
                   </tr>
                   <tr>
                       <td>13:00 - 14:30</td>
                       <td>Lunch</td>
                   </tr>
                   <tr>
                       <td>14:30 - 16:30</td>
                       <td>Lab Visits <br>
                           - Visit of Inria Saclay<br>
                           - Aline Carneiro Viana and Nadjib Achir: Visit of Team TRiBE, Inria Saclay<br>
                         - Philippe Martins (Telecom Paris): Experimental Testbed Demo<br>
			 - Badii Jouaber (Telecom SudParis): Visit and Demonstration</td>		       
                   </tr>
               </table>
           </div>
       </section>

  <@FOOTER@>
</body>
</html>
